/* * universal css start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
/* common css start */
section {
  padding: 100px 0px;
}

/* header-area css start */
.hedder {
  font-style: italic;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}
.hedder h2,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: white;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
  color: lime;
}
.navbar-light .navbar-toggler-icon {
  background-color: white;
  border-radius: 5px;
}
/* header-area css end */

/* ====== hero-area css start ======3 */
.hero-area {
  background: url(assets/img/bg-1.jpg) no-repeat center scroll;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}
.hero-area:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: -1;
  opacity: 0.5;
}
.hero-area .hero-title-link {
  color: white;
}
.hero-content-link {
  margin-top: 50px;
}
.hero-content-link a {
  background-color: white;
  padding: 13px 30px;
  margin: 15px;
  border-radius: 25px;
  font-weight: 700;
}
.hero-content-link a:hover {
  background-color: lime;
  color: #000;
}
.feature-area {
  position: relative;
}
.feature-area:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(44 36 24);
  color: white;
  opacity: 0.8;
  z-index: -1;
}

.feature-area .card {
  background-color: transparent;
  position: relative;
  z-index: 2;
  background-color: #000;
  opacity: 0.5;
  color: white;
}

.card-title {
  font-style: italic;
}
.feature-area .card-body {
  padding: 50px 30px;
}
/* ====== hero-area css end ====== */

/* feature-area-two  css start */
.feature-area-two {
  background: url(assets/img/bg-2.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.feature-area-two:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: -1;
  opacity: 0.5;
}

.feature-area-two .clases-card-area .card-title,
.feature-area-two .clases-card-area .card-text {
  padding: 10px;
}
.feature-area-two .card-img {
  width: 100%;
  height: 200px;
}
/* feature-area-two  css end */

/* services-area css start */
.services-area .card-body {
  padding: 20px 25px;
}
.services-area .card-icon {
  font-size: 32px;
  padding-bottom: 10px;
}
.services-area .card-title {
  font-size: 24px;
}
/* services-area css end */

/* blog-area css start */
.blog-area {
  background: url(assets/img/bg-3.jpg) no-repeat center scroll;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}
.blog-area:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: -1;
  opacity: 0.5;
}
.blog-area .card {
  background-color: transparent;
}
.blog-area .card-link {
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 25px;
}
.blog-area .card-link:hover {
  background-color: lime;
  color: black;
}
.blog-area .card-img {
  width: 100%;
  height: 200px;
}
/* blog-area css end */

/* subscribe-area css start */
.subscribe-area {
  background: url(assets/img/c-2.jpg) no-repeat center scroll;
  background-size: cover;
  color: white;
  position: relative;
  z-index: 1;
}
.subscribe-area:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  z-index: -1;
  opacity: 0.5;
}
.subscribe-area h2 {
  color: aqua;
}
.subscribe-form-area {
  margin-top: 40px;
}
/* subscribe-area css end */

/* footer-area css start */
.footer-area h2 {
  color: white;
}
.footer-area {
  margin-top: 50px;
  margin-bottom: -80px;
}
